<div class="sobre">
  <h1>Sobre a Farmácia Urcinhos Carinhosos</h1>
  <p>
    A farmácia ursinhos carinhosos foi fundada em aproximadamente 9600 a.C Após
    uma tentativa fracassada de invadir Atenas. Durante a migração do Império
    Bizantino a farmácia chegou ao Brasil. Existe um filme que retrata sua
    chegada (Filme: Poeira em alto mar). No Brasil, junto com os primeiros
    colonizadores vieram o barbeiro-cirurgião, o aprendiz-de-boticário e os
    jesuítas que traziam consigo a caixa de botica, uma arca de madeira contendo
    medicamentos. Ela também estava presente em todas as embarcações que
    atravessavam o Atlântico, nas Entradas e Bandeiras e expedições militares
    navais ou terrestres.
  </p>
</div>
