<div class="box">
  <button (click)="cegonha()">Cegonha</button>
  <h2>Farmaceuticos</h2>
  <table class="tabelinha">
    <tr>
      <th>Nome</th>
      <th>Data de Nascimento</th>
      <th>Idade</th>
      <th>CPF</th>
      <th>CPF Válido</th>
      <th>Promoção do Dia</th>
      <th>Ações</th>
    </tr>
    <tr *ngFor="let item of lista">
      <td>{{ item.nome }}</td>
      <td>{{ item.aniver | date: "dd/MM/yyyy" }}</td>
      <td>{{ item.idade }}</td>
      <td>{{ item.documento }}</td>
      <td>{{ item.documentoValido }}</td>
      <td>{{ item.promocaoDia }}</td>
      <td>
        <button (click)="excluir(item)">Excluir</button>
      </td>
    </tr>
  </table>
</div>
