<div class="box">
  <p>Novos Fornecedores</p>
  <form class="form-box" [formGroup]="form" (ngSubmit)="cadastrar()">
    <input
      formControlName="nome"
      placeholder="Nome"
      type="text"
      maxlength="64"
    />
    <input
      formControlName="cnpj"
      placeholder="Cnpj"
      type="text"
      maxlength="18"
    />
    <input
      formControlName="aniver"
      placeholder="Data de Nascimento"
      type="date"
    />
    <button type="submit" [disabled]="!form.valid">Cadastrar</button>
  </form>
  <p>{{ form.getRawValue() | json }}</p>
  <p>Form valido: {{ form.valid ? "Sim" : "Não" }}</p>
</div>
