/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.box {
  text-align: center;

  p {
    font-weight: bold;
  }
  button {
    padding: 6px;
    font-weight: bold;
    font-size: 18px;
  }
  hr {
    border: none;
    border-top: solid 1px #333;
  }
}

.form-box {
  margin: 0 auto;
  padding: 10px 0;
  border: solid 1px #ccc;
  width: 450px;
  border-radius: 15px;
  box-shadow: 0 0 6px #ccc;
  input,
  select {
    padding: 20px 10px;
    border-radius: 6px;
    border: solid 1px #444;
    width: 400px;
    margin: 10px auto;
    display: block;
    padding: 6px;
    font-size: 18px;
  }
  .ng-touched.ng-invalid {
    border: solid 3px rgb(172, 10, 10);
    color: rgb(172, 10, 10);
  }
}
.tabelinha {
  margin: 0 auto;
  border: solid 1px #ccc;
  tr,
  th,
  td {
    border: solid 1px #ccc;
  }
  th,
  td {
    padding: 3px 6px;
  }
}

.modal {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  .fundo {
    z-index: 99;
    opacity: 0.7;
    background-color: #444;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .form-box {
    position: relative;
    z-index: 999;
    margin-top: 300px;
    background-color: #fff;
  }
}
