.menu li {
  display: inline-block;
  margin: 0;
  padding: 10px;
  text-align: center;
}
a:link {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover {
  background-color: aquamarine;
  border-radius: 30px;
}
